<div id="lateral">
            <nav class="navbar navbar-inverse" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="index.html">
                        <img class="logo" src="<%= image_url('logo.png') %> " alt="Comunicaciones">
                    </a>
                </div>

                <!-- Elementos de la barra de navegacion -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                       <%=render 'layouts/links'%>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
			
	</div>